<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Site Behavior tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="./" />

        <!-- Basic site info-->
        <meta name="title" data-hid="title" content="" />
        <meta name="description" data-hid="description" content="" />

        <!-- Open Graph (Facebook/Linkedin) tags -->
        <!-- Testing tool: https://developers.facebook.com/tools/debug/ -->
        <meta property="og:site_name" content="" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:url" content="http://" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />

        <!-- Twitter tags -->
        <!-- Testing tool: https://cards-dev.twitter.com/validator -->
        <meta name="twitter:site" content="http://" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="" />
        <meta name="twitter:description" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:image:alt" content="" />
        <title>CICD Buddy Lite</title>

        <!-- Inline SVG Emoji Icon -->
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>" />
        <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
        <link rel="stylesheet" href="./styles.css" />
    </head>
    <body>
        <div id="app">
            <div class="container" :class="theme">
                <header>
                    <div class="toggles">
                        <div class="toggles-content">
                            <label for="Theme">Theme: </label>
                            <select name="Theme" id="Theme" v-model="theme" @change="cacheTheme">
                                <option :value="t" v-for="(t, index) of themeList" :key="index">{{t}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="logo-container content">
                        <div class="image">
                            <img src="./logo.png" alt="CICD Buddy Lite logo" />
                        </div>
                        <h1>
                            CICD Buddy
                            <i>lite</i>
                        </h1>
                    </div>
                </header>
                <main>
                    <div class="content">
                        <p class="error" v-if="initError">{{initError}}</p>
                        <p class="error" v-if="triggerError">{{triggerError}}</p>
                        <h1 v-if="config && config.Name">{{config.Name}}</h1>
                        <p v-if="config && config.Description">{{config.Description}}</p>
                        <form v-on:submit.prevent="handleTrigger" v-if="config && params">
                            <div class="form-field-item" v-if="branches">
                                <label for="Branch">Branch</label>
                                <select name="Branch" id="Branch" v-model="SelectedBranch">
                                    <option :id="`branch-${item}`" :value="item" v-for="(item, index2) of branches" :key="index2">{{item}}</option>
                                </select>
                            </div>
                            <div class="form-field-item" v-else :class="{ 'has-error': SelectedBranchError }">
                                <label for="Branch">Branch</label>
                                <input type="text" name="Branch" id="Branch" v-model="SelectedBranch" placeholder="Enter Branch to use" />
                                <span class="error-label" v-if="SelectedBranchError">Required</span>
                            </div>
                            <div class="form-field" v-for="(field, index) of params" :key="index">
                                <!-- If Type is list -->
                                <div class="form-field-item" v-if="isListField(field.Type)">
                                    <label :for="field.Name">{{field.Name}}</label>
                                    <select :name="field.Name" :id="field.Name" v-model="field.ViewModel">
                                        <option :id="`${field.Name}-${item}`" :value="item" v-for="(item, index2) of getItems(field.Value)" :key="index2">{{item}}</option>
                                    </select>
                                </div>
    
                                <!-- If Type is string -->
                                <div class="form-field-item" v-if="isStringField(field.Type)">
                                    <label :for="field.Name">{{field.Name}}</label>
                                    <input type="text" :name="field.Name" :id="field.Name" v-model="field.ViewModel" />
                                </div>
    
                                <!-- If Type is bool -->
                                <div class="form-field-item bool" v-if="isBoolField(field.Type)">
                                    <label :for="field.Name">
                                        <input type="checkbox" :name="field.Name" :id="field.Name" :checked="isChecked(field.Value)" v-model="field.ViewModel" />
                                        {{field.Name}}
                                    </label>
                                </div>
                            </div>
                            <input type="submit" value="Trigger Pipeline" class="action" />
                        </form>
    
                        <div class="pipelines-container" v-if="pipelines">
                            <h3>Past Pipelines</h3>
                            <div class="pipelines">
                                <div class="pipeline" v-for="(pipeline, index) of pipelines" :key="index">
                                    <span class="link">
                                        <span class="icon">ℹ</span>
                                        <a :href="pipeline.web_url" target="_blank">{{pipeline.id}}</a>
                                    </span>
                                    <span class="ref">{{pipeline.ref}}</span>
                                    <span class="date">{{date(pipeline.created_at)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="loader" id="loader" v-show="isLoading">
                        <div class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </main>
                <footer>
                    <div class="content">
                        <div>2022 CICD Buddy lite</div>
                        <div><a href="https://gitlab.com/tonymannino/cicd-buddy-lite" target="_blank">GitLab</a></div>
                    </div>
                </footer>
            </div>
        </div>
        <script type="module" src="./index.js"></script>
    </body>
</html>
