/*//////////////// SETUP //////////////////*/
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
}

html,
body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

/*/ /////////////// CICD BUDDY LITE //////////////////*/
:root {
    --color: #050505;
    --background-color: #ffffff;
    --accent-color: #f1f1f1;
    --btn-color: #1856f2;
    --btn-text-color: #ffffff;
    --banner-background-color: whitesmoke;
    --banner-color: #050505;
}

.default {
    --color: #050505;
    --background-color: #ffffff;
    --accent-color: #f1f1f1;
    --btn-color: #1856f2;
    --btn-text-color: #ffffff;
    --banner-background-color: whitesmoke;
    --banner-color: #050505;
}

.dark {
    --color: #ffffff;
    --background-color: #202020;
    --accent-color: #404040;
    --btn-color: #1856f2;
    --btn-text-color: #ffffff;
    --banner-background-color: #303030;
    --banner-color: #fff;
}

.container {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color, #050505);
    background-color: var(--background-color, #ffffff);
}

.container > * {
    transition: all 0.3s ease;
}

.logo-container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.image img {
    width: 100%;
}

.toggles {
    background-color: var(--banner-background-color, whitesmoke);
    color: var(--banner-color, #050505);
    padding: 0.25rem;
}

.toggles-content {
    text-align: right;
}

header {
    background-color: var(--background-color, white);
    color: var(--color, #050505);
    border-bottom: 1px solid var(--accent-color, #f1f1f1);
}

header .image {
    width: 50px;
}

header .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main {
    background-color: var(--background-color, white);
    color: var(--color, #050505);
}

.content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.pipelines-container h3 {
    text-decoration: underline;
}

.pipeline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}

.pipeline .icon {
    margin-right: 0.5rem;
}

/* .pipeline . */
footer {
    margin-top: auto;
    background-color: var(--accent-color, #f1f1f1);
    color: var(--color, #050505);
    padding: 1rem 0;
}

footer .content {
    text-align: center;
}

@media screen and (max-width: 765px) {
    .content {
        padding: 0 0.5rem;
    }

    .pipeline > .ref {
        flex: 1 0 100px;
        text-align: center;
        width: 100%;
    }

    .pipeline > .date {
        flex: 1 0 150px;
        text-align: center;
        width: 100%;
    }

    header .content {
        flex-direction: column;
        gap: 0;
    }

    header .content h1 {
        margin: 0;
    }
}

/*//////////////// Forms //////////////////*/

form {
}

.form-field-item {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    padding: 0.25rem;
}

input,
select {
    padding: 0.5rem 1rem;
    border: 1px solid lightgray;
    border-radius: 3px;
}

input:not([type='submit']):hover,
select:hover {
    border: 1px solid black;
}

.form-field-item.bool input {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin: 0;
}

.form-field-item.bool:hover {
    background-color: var(--accent-color, #f1f1f1);
}

.form-field-item.bool label {
    cursor: pointer;
}

.action {
    width: 200px;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: var(--btn-color, #1856f2);
    color: var(--btn-text-color, white);
    border-radius: 3px;
    transition: filter 0.15s ease;
}

.action:hover {
    cursor: pointer;
    filter: brightness(0.85);
}

.has-error label {
    color: red;
}

.has-error input {
    border: 1px solid red;
}

.has-error .error-label {
    font-size: 12px;
    color: red;
}
@media screen and (max-width: 765px) {
    .action {
        width: 100%;
    }
}
/*/ /////////////// UTILITES //////////////////*/
.error {
    background: red;
    color: white;
    font-weight: bold;
    padding: 1rem 0.5rem;
}

.loader {
    position: absolute;
    background-color: #000000bb;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}